/* You can add global styles to this file, and also import other style files */
body {
  background-image: url('/images/wallpaper01.gif');
  background-size: cover;
  background-repeat: repeat;
}

.container {
  background-color: white;
  border-radius: 5px;
}

a {
  color: white;
  text-decoration: none;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
